body {
    font-family: Roboto;
    background: #2BC0E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #EAECC6, #2BC0E4);
    background: -moz-linear-gradient(left, #EAECC6, #2BC0E4);
    background: -o-linear-gradient(left, #EAECC6, #2BC0E4);
    background: linear-gradient(to left, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input{
    font-size: 18px;
    color: #2980B9;
    background-color: #F7F7F7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    border: 3px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

h1 {
    background-color: #2980B9;
    color: #FFFFFF;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

i {
    cursor: pointer;
    cursor: hand;
}

li {
    background-color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    color: #666;
    cursor: pointer;
    cursor: hand;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span {
    background-color: #E74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: #FFF;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

#container {
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background-color: #F7F7F7;
}

.fa-plus {
    float: right;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

li:nth-child(2n) {
    background-color: #F7F7F7;
}
li:hover span {
    width: 40px;
    opacity: 1;
}

input:focus {
    background-color: #FFF;
    border: 3px solid #2980B9;
    outline: none;
}